<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Password Recovery | Beleful Dashboard </title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/authentication/form-2.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="assets/css/forms/switches.css">
    <link href="plugins/loaders/custom-loader.css" rel="stylesheet" type="text/css" />
    <link href="plugins/notification/snackbar/snackbar.min.css" rel="stylesheet" type="text/css" />

</head>

<body class="form no-image-content">


    <div class="form-container outer" id="app">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h1 class="">Change Password</h1>
                        <p class="signup-link recovery">Change your password to have access to the Dashboard</p>
                        <form class="text-left">
                            <div class="form">

                                <div id="password-field" class="field-wrapper input mb-2">
                                    <div class="d-flex justify-content-between">
                                        <label for="password">PASSWORD</label>
                                    </div>
                                    <i style="margin-top: 14px;" data-feather="code"></i>
                                    <input v-model="password" id="password" name="password" type="password"
                                        class="form-control" required minlength="6">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" id="toggle-password" class="feather feather-eye">
                                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                        <circle cx="12" cy="12" r="3"></circle>
                                    </svg>
                                </div>

                                <div id="password-field" class="field-wrapper input mb-2">
                                    <div class="d-flex justify-content-between">
                                        <label for="confirm-password">CONFIRM PASSWORD</label>
                                    </div>
                                    <i style="margin-top: 14px;" data-feather="code"></i>
                                    <input v-model="confirm_password" id="confirm-password" name="confirm-password"
                                        type="password" class="form-control" required minlength="6">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" id="toggle-confirm-password"
                                        class="feather feather-eye">
                                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                        <circle cx="12" cy="12" r="3"></circle>
                                    </svg>
                                </div>

                                <div class="d-sm-flex justify-content-between">

                                    <div class="field-wrapper">
                                        <button type="button" @click.prevent="handleReset" class="btn btn-primary">
                                            <div v-if="loading">
                                                <div
                                                    class="spinner-border text-white mr-2 align-self-center loader-sm ">
                                                    Loading...</div>
                                                Loading
                                            </div>
                                            <div v-else>Reset</div>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="assets/custom/js/constants.js"></script>
    <script src="assets/custom/js/components/header.js"></script>
    <script src="assets/custom/js/components/subHeader.js"></script>
    <script src="assets/custom/js/components/sidebar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="application/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                loading: false,
                password: '',
                confirm_password: '',
            },
            mounted: function () {
                console.log(localStorage.getItem("user"));
            },
            methods: {
                handleReset: function () {
                    this.loading = true;
                    if (this.password.length <= 5 || this.confirm_password.length <= 5) {
                        this.loading = false;
                        Snackbar.show({
                            text: 'Invalid password length detected, minimum length is 6',
                            actionTextColor: '#fff',
                            backgroundColor: '#e7515a',
                        });
                        return;
                    }
                    if (this.password != this.confirm_password) {
                        this.loading = false;
                        Snackbar.show({
                            text: 'Inconsistent password detected',
                            actionTextColor: '#fff',
                            backgroundColor: '#e7515a',
                        });
                        this.confirm_password = '';
                        return;
                    }
                    id = JSON.parse(localStorage.getItem("user")).id;
                    axios.put(generateURL(CHANGE_PASSWORD + id),
                        {
                            'password': this.password,
                        }, {
                        headers: {
                            'Authorization': `Bearer ${localStorage.getItem('token')}`
                        }
                    }
                    ).then((response) => {
                        if (response.data.success == false) {
                            this.loading = false;
                            Snackbar.show({
                                text: response.data.errors,
                                actionTextColor: '#fff',
                                backgroundColor: '#e7515a',
                            });
                        } else {
                            this.loading = false;
                            Snackbar.show({
                                text: 'Your password has been changed!',
                                actionTextColor: '#fff',
                                backgroundColor: '#8dbf42',
                                width: 'auto',
                                duration: 3000,
                                actionText: 'Login',
                                onActionClick: function (element) {
                                    //Set opacity of element to 0 to close Snackbar 
                                    $(element).css('opacity', 0);
                                    window.location.href = 'login.html';
                                }
                            });
                            var delayInMilliseconds = 1500; //1.5 second

                            setTimeout(function () {
                                window.location.href = 'login.html';
                            }, delayInMilliseconds);
                            
                        }
                    }).catch((error) => {
                        console.log(error.response.data)
                        if (error.response.status == 401) {
                            localStorage.removeItem('token');
                            window.location.href = 'login.html';
                        }
                        this.loading = false;
                        Snackbar.show({
                            text: error.response.data.errors,
                            actionTextColor: '#fff',
                            backgroundColor: '#e7515a'
                        });
                    });
                }

            },

        });
    </script>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="bootstrap/js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="plugins/file-upload/file-upload-with-preview.min.js"></script>
    <script src="plugins/notification/snackbar/snackbar.min.js"></script>
    <script src="plugins/sweetalerts/sweetalert2.min.js"></script>
    <script src="plugins/sweetalerts/custom-sweetalert.js"></script>
    <script src="plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <script>
        feather.replace();
    </script>
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="assets/js/authentication/form-2.js"></script>

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->


</body>

</html>