<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Product List | Beleful Dashboard </title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
    <link href="assets/css/loader.css" rel="stylesheet" type="text/css" />
    <script src="assets/js/loader.js"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="plugins/file-upload/file-upload-with-preview.min.css" rel="stylesheet" type="text/css" />

    <!-- BEGIN PAGE LEVEL CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="plugins/table/datatable/dt-global_style.css">
    <link rel="stylesheet" type="text/css" href="plugins/table/datatable/custom_dt_custom.css">
    <!-- END PAGE LEVEL CUSTOM STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="plugins/animate/animate.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <!--  END CUSTOM STYLE FILE  -->
    <link href="plugins/notification/snackbar/snackbar.min.css" rel="stylesheet" type="text/css" />
    <link href="plugins/animate/animate.css" rel="stylesheet" type="text/css" />
    <script src="plugins/sweetalerts/promise-polyfill.js"></script>
    <link href="plugins/sweetalerts/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="plugins/sweetalerts/sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/components/custom-sweetalert.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div>
    <div id="app">
        <!-- BEGIN LOADER -->
        <!--  END LOADER -->

        <!--  BEGIN NAVBAR  -->
        <header-nav-bar></header-nav-bar>
        <!--  END NAVBAR  -->

        <!--  BEGIN NAVBAR  -->
        <subheader-nav-bar></subheader-nav-bar>
        <!--  END NAVBAR  -->

        <!--  BEGIN MAIN CONTAINER  -->
        <div class="main-container" id="container app">

            <div class="overlay"></div>
            <div class="search-overlay"></div>

            <!--  BEGIN SIDEBAR  -->
            <side-bar></side-bar>
            <!--  END SIDEBAR  -->

            <!--  BEGIN CONTENT AREA  -->
            <div id="content" class="main-content">
                <div class="layout-px-spacing">
                    <div class="row layout-top-spacing">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Configuration</h4>
                                        </div>
                                    </div>
                                </div>
                                <div id="basic" class="col-lg-12 layout-spacing">
                                    <div class="table-responsive layout-spacing">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Service (&#8358)</th>
                                                    <th>Delivery (&#8358)</th>
                                                    <th>Per Km</th>
                                                    <th>Discount (&#8358)</th>
                                                    <th>Discount %</th>
                                                    <th>Active</th>
                                                    <th style="text-align: right"></th>
                                                </tr>

                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td width="17%">{{items.id}}</td>
                                                    <td>{{items.service_fee}}</td>
                                                    <td width="17%">{{items.delivery_fee}}</td>
                                                    <td width="5%"><img src="./assets/img/check-circle.svg" v-if="items.per_kilometer" height="20"style="filter: invert(1)" alt="true"><img v-else src="./assets/img/x-circle.svg" height="20"style="filter: invert(1)" alt="false"></td>
                                                    <!-- <td width="5%">{{items.per_kilometer}}</td> -->
                                                    <td width="5%">{{items.discount}}</td>
                                                    <td width="5%">{{items.discount_percent}}</td>
                                                    <td width="5%">
                                                        <img src="./assets/img/x-circle.svg" v-if="items.Activity"
                                                            height="20" style="filter: invert(1)" alt="true">
                                                        <img v-else src="./assets/img/check-circle.svg" height="20"
                                                            style="filter: invert(1)" alt="false">
                                                    </td>
                                                    <td width="17%" style="text-align: right">
                                                        <a v-on:click.prevent="selectProduct(index, item)" href=""
                                                            class="btn m-b-15 ml-2 mr-2 btn-md  btn-rounded-circle btn-success bs-tooltip"
                                                            data-toggle="modal" data-target="#updateProductModal"
                                                            title="Edit This Entry"><img src="./assets/img/edit-2.svg"
                                                                height="20" style="filter: invert(1)" alt="edit"></a>
                                                        <!-- Modal -->
                                                        <div id="updateProductModal"
                                                            class="modal animated fadeInDown mt-1" role="dialog">
                                                            <div class="modal-dialog modal-dialog-lg modal-sm ">
                                                                <div class="modal-content">
                                                                    <div class="modal-body text-left">
                                                                        <form>
                                                                            <div class="form-group">
                                                                                <label for="inputState">Category</label>
                                                                                <select id="inputState"
                                                                                    class="form-control"
                                                                                    v-model="updateCategoryId">
                                                                                    <option v-for="obj in categories"
                                                                                        :value="obj.id">{{obj.category}}
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="inputPassword4">Name</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="inputPassword4"
                                                                                    placeholder="Product's name"
                                                                                    v-model="updateName">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label
                                                                                    for="inputPassword4">Price</label>
                                                                                <input type="number"
                                                                                    class="form-control"
                                                                                    id="inputPassword4"
                                                                                    placeholder="Price"
                                                                                    v-model="updatePrice">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="inputAddress">Image</label>
                                                                                <div class="custom-file-container"
                                                                                    data-upload-id="myFirstImage">

                                                                                    <label
                                                                                        class="custom-file-container__custom-file">
                                                                                        <input type="file"
                                                                                            class="custom-file-container__custom-file__custom-file-input"
                                                                                            accept="image/*">
                                                                                        <input type="hidden"
                                                                                            name="MAX_FILE_SIZE"
                                                                                            value="10485760" />
                                                                                        <span
                                                                                            class="custom-file-container__custom-file__custom-file-control"></span>
                                                                                    </label>
                                                                                </div>
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label for="inputPassword4">Container's
                                                                                    Price</label>
                                                                                <input type="number"
                                                                                    class="form-control"
                                                                                    id="inputPassword4"
                                                                                    v-model="updateContainerPrice"
                                                                                    placeholder="Container's Price (Optional)">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <div class="form-check pl-0">
                                                                                    <div
                                                                                        class="custom-control custom-checkbox checkbox-info">
                                                                                        <input type="checkbox"
                                                                                            class="custom-control-input"
                                                                                            id="gridCheck1"
                                                                                            v-model="updateAvailability">
                                                                                        <label
                                                                                            class="custom-control-label"
                                                                                            for="gridCheck1">Is
                                                                                            Availiable</label>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-check pl-0">
                                                                                    <div
                                                                                        class="custom-control custom-checkbox checkbox-info">
                                                                                        <input type="checkbox"
                                                                                            class="custom-control-input"
                                                                                            id="gridCheck2"
                                                                                            v-model="updateHasContainer">
                                                                                        <label
                                                                                            class="custom-control-label"
                                                                                            for="gridCheck2">Has
                                                                                            Container?</label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button data-dismiss="modal"
                                                                            class="btn btn-rounded">Discard</button>
                                                                        <button href=""
                                                                            class="btn btn-rounded btn-warning"
                                                                            v-on:click.prevent="updateProduct">
                                                                            <div v-if="updateLoading">
                                                                                <div
                                                                                    class="spinner-border text-white align-self-center loader-sm ">
                                                                                    .</div>
                                                                            </div>
                                                                            <div v-else>Save</div>
                                                                        </button>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <button href=""
                                                            v-on:click.prevent="deleteProduct(index, item.id)"
                                                            class="btn m-b-15 ml-2 mr-2 btn-md  btn-rounded-circle btn-danger bs-tooltip"
                                                            title="Delete This Entry"><img
                                                                src="./assets/img/trash-2.svg" height="20"
                                                                style="filter: invert(1)" alt="delete"></button>
                                                    </td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div v-if="pageLoading" class="text-center">
                                            <div
                                                class="spinner-border text-white mt-5 mb-5 align-self-center loader-lg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="footer-wrapper">
                    <div class="footer-section f-section-1">
                        <p class="">Copyright © {{year}} <a target="_blank" href="https://firstpavitech.com">First
                                Pavilion Technologies</a>,
                            All rights reserved.</p>
                    </div>
                </div>
            </div>
            <!--  END CONTENT AREA  -->

        </div>
    </div>
    <!-- END MAIN CONTAINER -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="assets/custom/js/constants.js"></script>
    <script src="assets/custom/js/components/header.js"></script>
    <script src="assets/custom/js/components/subHeader.js"></script>
    <script src="assets/custom/js/components/sidebar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="application/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                items: [],
                // categories: [],
                // selectedIndex: '',
                // selectedId: '',
                // updateName: '',
                // updateCategoryId: '',
                // updateCategoryName: '',
                // updatePrice: '',
                // updateContainerPrice: '',
                // updatePer_KM: false,
                // updateHasContainer: true,
                // updateAvailability: '',
                // updateLoading: false,
                pageLoading: false
            },
            computed: {
                year: function () {
                    var d = new Date();
                    var year = d.getFullYear();
                    return year;
                }
            },
            methods: {
                selectProduct: function (index, item) {
                    this.selectedIndex = index;
                    this.selectedId = item.id;
                    this.updateName = item.delivery_fee;
                    // this.updateCategoryName = item.category_name;
                    this.updateCategoryId = item.service_fee;
                    this.updatePrice = item.discount;
                    this.updatePer_KM = item.per_kilometer;
                    this.updateContainerPrice = item.is_active;
                    this.updateHasContainer = item.discount_percent;
                    this.updateAvailability = item.created_date;

                },

                updateProduct: function () {
                    this.updateLoading = true;
                    axios.put(generateURL(PRODUCT_URL + this.selectedId),
                     {
                        headers: {
                            'Authorization': `Bearer ${localStorage.getItem('token')}`
                        }
                    }
                    ).then((response) => {
                        this.$set(this.items, this.selectedIndex, response.data.data);
                        this.updateLoading = false;
                        $('#updateProductModal').modal('hide');
                        Snackbar.show({
                            text: 'Item successfully updated',
                            actionTextColor: '#fff',
                            backgroundColor: '#8dbf42'
                        });
                    }).catch((error) => {
                        if (error.response.status == 401) {
                            localStorage.removeItem('token');
                            window.location.href = 'login.html';
                        }
                        this.updateLoading = false;
                        Snackbar.show({
                            text: 'An error occurred',
                            actionTextColor: '#fff',
                            backgroundColor: '#e7515a'
                        });
                    });

                },
                // deleteProduct: function (index, itemId) {
                //     swal({
                //         title: 'Are you sure?',
                //         text: "You won't be able to revert this!",
                //         type: 'warning',
                //         showCancelButton: true,
                //         confirmButtonText: 'Delete',
                //         padding: '2em'
                //     }).then((result) => {
                //         if (result.value) {
                //             axios.delete(generateURL(PRODUCT_URL + itemId),
                //                 {
                //                     headers: {
                //                         'Authorization': `Bearer ${localStorage.getItem('token')}`
                //                     }
                //                 }
                //             ).then((response) => {
                //                 this.items.splice(index, 1);
                //                 swal(
                //                     'Deleted!',
                //                     'Product has been deleted.',
                //                     'success'
                //                 );
                //             }).catch((error) => {
                //                 if (error.response.status == 401) {
                //                     localStorage.removeItem('token');
                //                     window.location.href = 'login.html';
                //                 }
                //                 Snackbar.show({
                //                     text: 'An error occurred',
                //                     actionTextColor: '#fff',
                //                     backgroundColor: '#e7515a'
                //                 });
                //             });
                //         }
                //     });
                // }
            },
            mounted: function () {
                this.pageLoading = true
                if (localStorage.getItem("token") === null) {
                    localStorage.removeItem('token');
                    window.location.href = 'login.html';
                }

                axios.get(generateURL(CONFIGURATION), {

                    headers: {
                        'Authorization': `Bearer ${localStorage.getItem('token')}`
                    }
                }).then((response) => {
                    this.pageLoading = false
                    this.items = response.data.configuration;
                    console.log(response.data.configuration)
                }).catch((error) => {
                    console.log(error.response.data)
                    if (error.response.status == 401) {
                        localStorage.removeItem('token');
                        window.location.href = 'login.html';
                    }
                    Snackbar.show({
                        text: 'An error occurred',
                        actionTextColor: '#fff',
                        backgroundColor: '#e7515a'
                    });
                });

                // axios.get(generateURL(VENDOR_CATEGORY),  {
                //     headers: {
                //         'Authorization': `Bearer ${localStorage.getItem('token')}`
                //     }
                // }).then((response) => {
                //     response.data.data.forEach((entry) => {
                //         this.categories.push(entry);
                //     });
                // }).catch((error) => {
                //     if (error.response.status == 401) {
                //         localStorage.removeItem('token');
                //         window.location.href = 'login.html';
                //     }
                //     Snackbar.show({
                //         text: 'An error occurred',
                //         actionTextColor: '#fff',
                //         backgroundColor: '#e7515a'
                //     });
                // })
            }
        });
    </script>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="bootstrap/js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="plugins/file-upload/file-upload-with-preview.min.js"></script>
    <script src="plugins/notification/snackbar/snackbar.min.js"></script>
    <script src="plugins/sweetalerts/sweetalert2.min.js"></script>
    <script src="plugins/sweetalerts/custom-sweetalert.js"></script>

    <script>
        feather.replace();
    </script>
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
    <script src="assets/js/custom.js"></script>
    <script>
        //First upload
        var firstUpload = new FileUploadWithPreview('myFirstImage');
    </script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

</body>

</html>